# Projeto 2 - análise de dados
### Turismo mundial

In [19]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [20]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Gabriela\Documents\INSPER\2Semestre.2\CDados\Projeto-2

In [21]:
dados = pd.read_excel('Dados_turismo.xlsx')
dados.head()

,Country,int inbound 2012,int inbound 2018,int outbound 2012,int outbound 2018,inbound exp 2012 (millions),inbound exp 2018 (millions),inbound exp 2012 (percentage),inbound exp 2018 (percentage),outbound exp 2012 (millions),outbound exp 2018 (millions),outbound exp 2012 (percentage),outbound exp 2018 (percentage)
0,Afghanistan,..,..,..,..,167,50,7.2,3.1,110,226,1.1,2.8
1,Albania,3.156,5.34,3.959,5.415,1.623,2.306,45.6,48.2,1.374,1.75,23.5,25.5
2,Algeria,2.634,2.657,1.911,5.61,295,..,0.4,..,598,..,1.0,..
3,American Samoa,23,20,..,..,..,..,..,..,..,..,..,..
4,Andorra,2.238,3.042,..,..,..,..,..,..,..,..,..,..